In [1]:
import vaex

In [2]:
import pandas as pd
import numpy as np

In [3]:
flight = pd.read_parquet("C:/Users/HP/Desktop/Programming/Projects/Project 4- Flight/Dataset/Flight_Delay.parquet")

In [4]:
flight.head()

,Year,Month,DayofMonth,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,CRSDepTime,DepTime,DepDelay,...,CRSElapsedTime,ActualElapsedTime,AirTime,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1,2018,1,15,2018-01-15,UA,"Newark, NJ","Charleston, SC",1845,1928.0,43.0,...,143.0,141.0,102.0,628.0,3,41.0,0.0,0.0,0.0,0.0
2,2018,1,16,2018-01-16,UA,"Newark, NJ","Charleston, SC",1835,1956.0,81.0,...,143.0,131.0,108.0,628.0,3,67.0,0.0,0.0,0.0,2.0
3,2018,1,17,2018-01-17,UA,"Newark, NJ","Charleston, SC",1835,1836.0,1.0,...,143.0,138.0,113.0,628.0,3,0.0,0.0,0.0,0.0,0.0
4,2018,1,18,2018-01-18,UA,"Newark, NJ","Charleston, SC",1845,1844.0,-1.0,...,143.0,134.0,92.0,628.0,3,0.0,0.0,0.0,0.0,0.0
6,2018,1,20,2018-01-20,UA,"Newark, NJ","Charleston, SC",1835,1829.0,-6.0,...,143.0,117.0,89.0,628.0,3,0.0,0.0,0.0,0.0,0.0

In [5]:
flight.shape

(30132672, 29)

In [6]:
flight_vaex = vaex.from_pandas(flight)

In [7]:
type(flight_vaex)

vaex.dataframe.DataFrameLocal

In [8]:
flight_vaex.head()

  #    Year    Month    DayofMonth  FlightDate    Marketing_Airline_Network    OriginCityName    DestCityName      CRSDepTime    DepTime    DepDelay    DepDelayMinutes    TaxiOut    WheelsOff    WheelsOn    TaxiIn    CRSArrTime    ArrTime    ArrDelay    ArrDelayMinutes    CRSElapsedTime    ActualElapsedTime    AirTime    Distance    DistanceGroup    CarrierDelay    WeatherDelay    NASDelay    SecurityDelay    LateAircraftDelay
  0    2018        1            15  2018-01-15    UA                           Newark, NJ        Charleston, SC          1845       1928          43                 43         35         2003        2145         4          2108       2149          41                 41               143                  141        102         628                3              41               0           0                0                    0
  1    2018        1            16  2018-01-16    UA                           Newark, NJ        Charleston, SC          1835       1956          81                 81         18         2014        2202         5          2058       2207          69                 69               143                  131        108         628                3              67               0           0                0                    2
  2    2018        1            17  2018-01-17    UA                           Newark, NJ        Charleston, SC          1835       1836           1                  1         19         1855        2048         6          2058       2054          -4                  0               143                  138        113         628                3               0               0           0                0                    0
  3    2018        1            18  2018-01-18    UA                           Newark, NJ        Charleston, SC          1845       1844          -1                  0         36         1920        2052         6          2108       2058         -10                  0               143                  134         92         628                3               0               0           0                0                    0
  4    2018        1            20  2018-01-20    UA                           Newark, NJ        Charleston, SC          1835       1829          -6                  0         22         1851        2020         6          2058       2026         -32                  0               143                  117         89         628                3               0               0           0                0                    0
  5    2018        1            21  2018-01-21    UA                           Newark, NJ        Charleston, SC          1835       1825         -10                  0         44         1909        2039         5          2058       2044         -14                  0               143                  139         90         628                3               0               0           0                0                    0
  6    2018        1            22  2018-01-22    UA                           Newark, NJ        Charleston, SC          1845       1847           2                  2         41         1928        2118        10          2108       2128          20                 20               143                  161        110         628                3               2               0          18                0                    0
  7    2018        1            23  2018-01-23    UA                           Newark, NJ        Charleston, SC          1835       1823         -12                  0         34         1857        2103        11          2058       2114          16                 16               143                  171        126         628                3               0               0          16                0                    0
  8    2018        1            25  2018-01-25    UA                           Newark, NJ        Charleston, SC          1845       1841          -4                  0         38         1919        2056         7          2108       2103          -5                  0               143                  142         97         628                3               0               0           0                0                    0
  9    2018        1            26  2018-01-26    UA                           Newark, NJ        Charleston, SC          1845       1838          -7                  0         39         1917        2047         6          2108       2053         -15                  0               143                  135         90         628                3               0               0           0                0                    0

In [9]:
flight_vaex.info()

In [10]:
flight_vaex.describe()

,Year,Month,DayofMonth,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,CRSDepTime,DepTime,DepDelay,...,CRSElapsedTime,ActualElapsedTime,AirTime,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
data_type,int64,int64,int64,string,string,string,string,int64,float64,float64,...,float64,float64,float64,float64,int64,float64,float64,float64,float64,float64
count,30132672,30132672,30132672,30132672,30132672,30132672,30132672,30132672,30132672,30132672,...,30132672,30132672,30132672,30132672,30132672,30132672,30132672,30132672,30132672,30132672
NA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
mean,2020.0914400156746,6.297564417785452,15.722973754202748,--,--,--,--,1322.7355737652472,1327.2451506789707,10.611442025453302,...,138.86781507461401,132.0091763186484,108.05376035022715,776.4743040378231,3.580302735847654,5.050472623204474,0.8417200107577583,2.9941116738668248,0.027410878132546626,5.522570052864877
std,1.602171,3.487835,8.770224,--,--,--,--,484.012482,498.389035,51.982926,...,70.961497,70.61227,68.726209,582.331462,2.291205,33.700239,15.09353,16.642516,1.650743,27.517373
min,2018,1,1,--,--,--,--,1,1.0,-342.0,...,-292.0,4.0,-1412.0,16.0,1,0.0,0.0,0.0,0.0,0.0
max,2023,12,31,--,--,--,--,2359,2400.0,7223.0,...,1645.0,1604.0,1557.0,5812.0,11,7232.0,2900.0,1848.0,1460.0,2962.0

In [11]:
# no null values

In [12]:
count_na = []
for col in flight_vaex.column_names:
    count_na.append(flight_vaex[col].isna().sum().item())
na = pd.Series(data=count_na, index=flight_vaex.column_names)

In [13]:
na

Year                         0
Month                        0
DayofMonth                   0
FlightDate                   0
Marketing_Airline_Network    0
OriginCityName               0
DestCityName                 0
CRSDepTime                   0
DepTime                      0
DepDelay                     0
DepDelayMinutes              0
TaxiOut                      0
WheelsOff                    0
WheelsOn                     0
TaxiIn                       0
CRSArrTime                   0
ArrTime                      0
ArrDelay                     0
ArrDelayMinutes              0
CRSElapsedTime               0
ActualElapsedTime            0
AirTime                      0
Distance                     0
DistanceGroup                0
CarrierDelay                 0
WeatherDelay                 0
NASDelay                     0
SecurityDelay                0
LateAircraftDelay            0
dtype: int64

In [14]:
# Year Column

In [15]:
flight_vaex.Year.unique()

[2021, 2022, 2018, 2020, 2023, 2019]

In [16]:
# Marketing Airline network

In [17]:
flight_vaex.Marketing_Airline_Network.unique()

['F9', 'DL', 'AA', 'HA', 'WN', 'B6', 'VX', 'AS', 'G4', 'NK', 'UA']

In [18]:
# Origin City Name

In [19]:
flight_vaex.OriginCityName.unique()

['Tulsa, OK',
 'St. Louis, MO',
 'Burbank, CA',
 'St. George, UT',
 'Traverse City, MI',
 'Valparaiso, FL',
 'Las Vegas, NV',
 'Kalispell, MT',
 'Hilton Head, SC',
 'Gulfport/Biloxi, MS',
 'Panama City, FL',
 'Raleigh/Durham, NC',
 'Rock Springs, WY',
 'Champaign/Urbana, IL',
 'Staunton, VA',
 'Norfolk, VA',
 'Presque Isle/Houlton, ME',
 'Orlando, FL',
 'Fayetteville, AR',
 'Oklahoma City, OK',
 'Bemidji, MN',
 'Laramie, WY',
 'Portsmouth, NH',
 'Nantucket, MA',
 'Kansas City, MO',
 'Albany, NY',
 'Lewiston, ID',
 'Quincy, IL',
 'Kalamazoo, MI',
 'Gunnison, CO',
 'Flint, MI',
 'Dubuque, IA',
 'Sanford, FL',
 'Myrtle Beach, SC',
 'Anchorage, AK',
 'Sitka, AK',
 'Hyannis, MA',
 'Madison, WI',
 'Boise, ID',
 'Amarillo, TX',
 'Yakutat, AK',
 'Nome, AK',
 'CONCORD, NC',
 'Asheville, NC',
 'Eagle, CO',
 'El Paso, TX',
 'Pocatello, ID',
 'Iron Mountain/Kingsfd, MI',
 'Alexandria, LA',
 'Charleston, SC',
 'Omaha, NE',
 'South Bend, IN',
 'Grand Forks, ND',
 'Milwaukee, WI',
 'Bismarck/Mandan, ND',
 'Daytona Beach, FL',
 'Redding, CA',
 'Fort Smith, AR',
 'Everett, WA',
 'New York, NY',
 'Key West, FL',
 'Fort Wayne, IN',
 'Santa Rosa, CA',
 'Columbia, MO',
 'Brunswick, GA',
 'New Haven, CT',
 'Pellston, MI',
 'Meridian, MS',
 'Lawton/Fort Sill, OK',
 'Austin, TX',
 'Mission/McAllen/Edinburg, TX',
 'Paducah, KY',
 'Mosinee, WI',
 'Moab, UT',
 'Atlanta, GA',
 'Memphis, TN',
 'Columbus, OH',
 'Albuquerque, NM',
 'Alpena, MI',
 'Hobbs, NM',
 'Fort Leonard Wood, MO',
 'Philadelphia, PA',
 'Syracuse, NY',
 'San Diego, CA',
 'Dayton, OH',
 'Marquette, MI',
 'Joplin, MO',
 'Dodge City, KS',
 'Dallas/Fort Worth, TX',
 'Fairbanks, AK',
 'Newburgh/Poughkeepsie, NY',
 'Duluth, MN',
 'Shreveport, LA',
 'Eau Claire, WI',
 'Barrow, AK',
 'Augusta, GA',
 'San Juan, PR',
 'Montgomery, AL',
 'Missoula, MT',
 'Unalaska, AK',
 'Clarksburg/Fairmont, WV',
 'Williamsport, PA',
 'Santa Ana, CA',
 'Bozeman, MT',
 'Wichita, KS',
 'Yakima, WA',
 'Lanai, HI',
 'Arcata/Eureka, CA',
 'San Angelo, TX',
 'Youngstown/Warren, OH',
 'Chicago, IL',
 'Huntsville, AL',
 'Moline, IL',
 'Chattanooga, TN',
 'Midland/Odessa, TX',
 'International Falls, MN',
 'Lexington, KY',
 'Denver, CO',
 'Santa Barbara, CA',
 'Greenville, NC',
 'Sheridan, WY',
 'Bloomington/Normal, IL',
 'Wilmington, NC',
 'Deadhorse, AK',
 'State College, PA',
 'Petersburg, AK',
 'Charlottesville, VA',
 'Bakersfield, CA',
 'Owensboro, KY',
 'Alamosa, CO',
 'Tucson, AZ',
 'Sioux Falls, SD',
 'Dallas, TX',
 'Cape Girardeau, MO',
 'Salisbury, MD',
 'St. Cloud, MN',
 'Killeen, TX',
 'Greensboro/High Point, NC',
 'Reno, NV',
 'Pensacola, FL',
 'Eugene, OR',
 'Harlingen/San Benito, TX',
 'Pasco/Kennewick/Richland, WA',
 'Cincinnati, OH',
 'Los Angeles, CA',
 'Lynchburg, VA',
 'Brownsville, TX',
 'Waterloo, IA',
 'Rockford, IL',
 'Ogdensburg, NY',
 'Savannah, GA',
 'Medford, OR',
 'Grand Junction, CO',
 'Jamestown, ND',
 'North Bend/Coos Bay, OR',
 'Valdosta, GA',
 'Allentown/Bethlehem/Easton, PA',
 'Cedar City, UT',
 'Longview, TX',
 'Columbus, GA',
 'Honolulu, HI',
 'Sacramento, CA',
 'Bangor, ME',
 'Hays, KS',
 'Dillingham, AK',
 'Little Rock, AR',
 'Wenatchee, WA',
 'Scranton/Wilkes-Barre, PA',
 'Bethel, AK',
 'Detroit, MI',
 'Bellingham, WA',
 'Butte, MT',
 'Beaumont/Port Arthur, TX',
 'Minneapolis, MN',
 'Elmira/Corning, NY',
 'Palm Springs, CA',
 'Guam, TT',
 'Waco, TX',
 'Florence, SC',
 'Kotzebue, AK',
 'Wichita Falls, TX',
 'Liberal, KS',
 'Portland, ME',
 'Manchester, NH',
 'Portland, OR',
 'Yuma, AZ',
 'Newark, NJ',
 'Harrisburg, PA',
 'Christiansted, VI',
 'Dickinson, ND',
 'Tampa, FL',
 'San Luis Obispo, CA',
 'Wilmington, DE',
 'Corpus Christi, TX',
 'Evansville, IN',
 'Bristol/Johnson City/Kingsport, TN',
 'Great Falls, MT',
 'Charlotte Amalie, VI',
 'Watertown, NY',
 'Monroe, LA',
 'Stillwater, OK',
 'Kahului, HI',
 'Gillette, WY',
 'Juneau, AK',
 'Scottsbluff, NE',
 'Cold Bay, AK',
 'Ponce, PR',
 'New Bern/Morehead/Beaufort, NC',
 'Houston, TX',
 'Cedar Rapids/Iowa City, IA',
 'Salina, KS',
 'Gustavus, AK',
 'Grand Rapids, MI',
 'Muskegon, MI',
 'Prescott, AZ',
 'Cheyenne, WY',
 'Seattle, WA',
 'Saginaw/Bay City/Midland, MI',
 'Devils Lake, ND',
 'Twin Falls, ID',
 'Sault Ste. Marie, MI',
 'Lansing, MI',
 'Adak Island, AK',
 'Garden City, KS',
 'White Plains, NY',
 'Colorado Springs, CO',
 'Bullhead City, AZ',
 'Johnstown, PA',
 'Lafayette, LA',
 'Rochester, MN',
 'Phoenix, AZ',
 'Rapid City, SD',
 'Erie, PA',
 'Texarkana, AR',
 'Watertown, SD',
 'Charleston/Dunbar, WV',
 'Richmond, VA',
 'Tallahassee, FL',
 'Long Beach, CA',
 'Flagstaff, AZ',
 'Lincoln, NE',
 'Rochester, NY',
 'Lubbock, TX',
 'Lake Charles, LA',
 'Spokane, WA',
 'Provo, UT',
 'Buffalo, NY',
 'Baltimore, MD',
 'Akron, OH',
 'Lihue, HI',
 'Durango, CO',
 'Hoolehua, HI',
 'Columbus, MS',
 'Hancock/Houghton, MI',
 'Saipan, TT',
 'Fayetteville, NC',
 'Williston, ND',
 'Del Rio, TX',
 'King Salmon, AK',
 'Trenton, NJ',
 'Casper, WY',
 'Hattiesburg/Laurel, MS',
 'Fort Dodge, IA',
 'Mobile, AL',
 'Washington, DC',
 'Monterey, CA',
 'Roswell, NM',
 'Aberdeen, SD',
 'Minot, ND',
 'Laredo, TX',
 'Jackson/Vicksburg, MS',
 'Newport News/Williamsburg, VA',
 'Escanaba, MI',
 'Pittsburgh, PA',
 'Charlotte, NC',
 'Billings, MT',
 'Hilo, HI',
 'Hagerstown, MD',
 'Concord, NC',
 'Bishop, CA',
 'Burlington, VT',
 'Louisville, KY',
 'Toledo, OH',
 'Hibbing, MN',
 'Worcester, MA',
 'Miami, FL',
 'Melbourne, FL',
 'Hayden, CO',
 'Pullman, WA',
 'Mammoth Lakes, CA',
 'Columbia, SC',
 'Islip, NY',
 'San Francisco, CA',
 'Ontario, CA',
 'Indianapolis, IN',
 'Sarasota/Bradenton, FL',
 'Oakland, CA',
 'Kapalua, HI',
 'Brainerd, MN',
 'Baton Rouge, LA',
 'Fort Myers, FL',
 'Green Bay, WI',
 'Ithaca/Cortland, NY',
 'Aguadilla, PR',
 'Bend/Redmond, OR',
 'Rhinelander, WI',
 'Rota, TT',
 'Elko, NV',
 'Punta Gorda, FL',
 "Martha's Vineyard, MA",
 'Branson, MO',
 'West Yellowstone, MT',
 'Ketchikan, AK',
 'Cordova, AK',
 'Abilene, TX',
 'Ogden, UT',
 'Des Moines, IA',
 'New Orleans, LA',
 'Sioux City, IA',
 'Providence, RI',
 'Kona, HI',
 'Idaho Falls, ID',
 'Greer, SC',
 'Fargo, ND',
 'Santa Fe, NM',
 'Dothan, AL',
 'Montrose/Delta, CO',
 'Gainesville, FL',
 'Jacksonville, FL',
 'San Jose, CA',
 'Albany, GA',
 'Vernal, UT',
 'Victoria, TX',
 'San Antonio, TX',
 'Jacksonville/Camp Lejeune, NC',
 'Riverton/Lander, WY',
 'Cleveland, OH',
 'Birmingham, AL',
 'Salt Lake City, UT',
 'Aspen, CO',
 'Mason City, IA',
 'Knoxville, TN',
 'Manhattan/Ft. Riley, KS',
 'St. Petersburg, FL',
 'North Platte, NE',
 'Kearney, NE',
 'Pierre, SD',
 'Springfield, MO',
 'Atlantic City, NJ',
 'Plattsburgh, NY',
 'Decatur, IL',
 'Helena, MT',
 'Pago Pago, TT',
 'Binghamton, NY',
 'La Crosse, WI',
 'Tyler, TX',
 'Stockton, CA',
 'Nashville, TN',
 'Fort Lauderdale, FL',
 'Walla Walla, WA',
 'Ashland, WV',
 'Appleton, WI',
 'Peoria, IL',
 'Cody, WY',
 'Kodiak, AK',
 'Belleville, IL',
 'Santa Maria, CA',
 'Lewisburg, WV',
 'Niagara Falls, NY',
 'Springfield, IL',
 'College Station/Bryan, TX',
 'Hartford, CT',
 'Boston, MA',
 'Jackson, WY',
 'Fresno, CA',
 'Sun Valley/Hailey/Ketchum, ID',
 'Pueblo, CO',
 'West Palm Beach/Palm Beach, FL',
 'Latrobe, PA',
 'Grand Island, NE',
 'Roanoke, VA',
 'Wrangell, AK']

In [20]:
# Destination City Name

In [21]:
flight_vaex.DestCityName.unique()

['Tulsa, OK',
 'St. Louis, MO',
 'Burbank, CA',
 'St. George, UT',
 'Traverse City, MI',
 'Valparaiso, FL',
 'Las Vegas, NV',
 'Kalispell, MT',
 'Hilton Head, SC',
 'Panama City, FL',
 'Gulfport/Biloxi, MS',
 'Raleigh/Durham, NC',
 'Rock Springs, WY',
 'Champaign/Urbana, IL',
 'Staunton, VA',
 'Norfolk, VA',
 'Presque Isle/Houlton, ME',
 'Fayetteville, AR',
 'Oklahoma City, OK',
 'Orlando, FL',
 'Bemidji, MN',
 'Laramie, WY',
 'Portsmouth, NH',
 'Nantucket, MA',
 'Kansas City, MO',
 'Albany, NY',
 'Lewiston, ID',
 'Quincy, IL',
 'Kalamazoo, MI',
 'Gunnison, CO',
 'Flint, MI',
 'Dubuque, IA',
 'Sanford, FL',
 'Myrtle Beach, SC',
 'Anchorage, AK',
 'Sitka, AK',
 'Hyannis, MA',
 'Amarillo, TX',
 'Madison, WI',
 'Boise, ID',
 'Yakutat, AK',
 'Nome, AK',
 'CONCORD, NC',
 'Asheville, NC',
 'Eagle, CO',
 'El Paso, TX',
 'Pocatello, ID',
 'Iron Mountain/Kingsfd, MI',
 'Alexandria, LA',
 'Charleston, SC',
 'Omaha, NE',
 'South Bend, IN',
 'Grand Forks, ND',
 'Milwaukee, WI',
 'Bismarck/Mandan, ND',
 'Daytona Beach, FL',
 'Redding, CA',
 'Fort Smith, AR',
 'Everett, WA',
 'New York, NY',
 'Key West, FL',
 'Fort Wayne, IN',
 'Santa Rosa, CA',
 'Columbia, MO',
 'Brunswick, GA',
 'New Haven, CT',
 'Pellston, MI',
 'Meridian, MS',
 'Lawton/Fort Sill, OK',
 'Austin, TX',
 'Mission/McAllen/Edinburg, TX',
 'Paducah, KY',
 'Mosinee, WI',
 'Moab, UT',
 'Atlanta, GA',
 'Memphis, TN',
 'Columbus, OH',
 'Albuquerque, NM',
 'Alpena, MI',
 'Hobbs, NM',
 'Fort Leonard Wood, MO',
 'Philadelphia, PA',
 'Syracuse, NY',
 'San Diego, CA',
 'Dayton, OH',
 'Marquette, MI',
 'Joplin, MO',
 'Dodge City, KS',
 'Dallas/Fort Worth, TX',
 'Fairbanks, AK',
 'Newburgh/Poughkeepsie, NY',
 'Duluth, MN',
 'Shreveport, LA',
 'Eau Claire, WI',
 'Barrow, AK',
 'Augusta, GA',
 'San Juan, PR',
 'Montgomery, AL',
 'Missoula, MT',
 'Unalaska, AK',
 'Clarksburg/Fairmont, WV',
 'Williamsport, PA',
 'Santa Ana, CA',
 'Bozeman, MT',
 'Wichita, KS',
 'Yakima, WA',
 'Lanai, HI',
 'Arcata/Eureka, CA',
 'San Angelo, TX',
 'Youngstown/Warren, OH',
 'Chicago, IL',
 'Huntsville, AL',
 'Moline, IL',
 'Chattanooga, TN',
 'Midland/Odessa, TX',
 'International Falls, MN',
 'Lexington, KY',
 'Denver, CO',
 'Santa Barbara, CA',
 'Greenville, NC',
 'Sheridan, WY',
 'Bloomington/Normal, IL',
 'Wilmington, NC',
 'Deadhorse, AK',
 'State College, PA',
 'Petersburg, AK',
 'Charlottesville, VA',
 'Bakersfield, CA',
 'Owensboro, KY',
 'Alamosa, CO',
 'Sioux Falls, SD',
 'Tucson, AZ',
 'Dallas, TX',
 'Cape Girardeau, MO',
 'Salisbury, MD',
 'St. Cloud, MN',
 'Killeen, TX',
 'Greensboro/High Point, NC',
 'Reno, NV',
 'Pensacola, FL',
 'Eugene, OR',
 'Harlingen/San Benito, TX',
 'Pasco/Kennewick/Richland, WA',
 'Cincinnati, OH',
 'Los Angeles, CA',
 'Lynchburg, VA',
 'Brownsville, TX',
 'Waterloo, IA',
 'Rockford, IL',
 'Ogdensburg, NY',
 'Savannah, GA',
 'Medford, OR',
 'Grand Junction, CO',
 'Jamestown, ND',
 'North Bend/Coos Bay, OR',
 'Valdosta, GA',
 'Allentown/Bethlehem/Easton, PA',
 'Cedar City, UT',
 'Longview, TX',
 'Columbus, GA',
 'Sacramento, CA',
 'Honolulu, HI',
 'Bangor, ME',
 'Hays, KS',
 'Dillingham, AK',
 'Little Rock, AR',
 'Scranton/Wilkes-Barre, PA',
 'Wenatchee, WA',
 'Bethel, AK',
 'Detroit, MI',
 'Bellingham, WA',
 'Butte, MT',
 'Beaumont/Port Arthur, TX',
 'Minneapolis, MN',
 'Elmira/Corning, NY',
 'Palm Springs, CA',
 'Guam, TT',
 'Waco, TX',
 'Florence, SC',
 'Kotzebue, AK',
 'Wichita Falls, TX',
 'Liberal, KS',
 'Portland, ME',
 'Manchester, NH',
 'Portland, OR',
 'Yuma, AZ',
 'Newark, NJ',
 'Harrisburg, PA',
 'Christiansted, VI',
 'Dickinson, ND',
 'Tampa, FL',
 'San Luis Obispo, CA',
 'Wilmington, DE',
 'Evansville, IN',
 'Bristol/Johnson City/Kingsport, TN',
 'Corpus Christi, TX',
 'Great Falls, MT',
 'Charlotte Amalie, VI',
 'Watertown, NY',
 'Monroe, LA',
 'Stillwater, OK',
 'Kahului, HI',
 'Gillette, WY',
 'Juneau, AK',
 'Scottsbluff, NE',
 'Cold Bay, AK',
 'New Bern/Morehead/Beaufort, NC',
 'Ponce, PR',
 'Houston, TX',
 'Cedar Rapids/Iowa City, IA',
 'Salina, KS',
 'Gustavus, AK',
 'Grand Rapids, MI',
 'Muskegon, MI',
 'Prescott, AZ',
 'Cheyenne, WY',
 'Seattle, WA',
 'Saginaw/Bay City/Midland, MI',
 'Devils Lake, ND',
 'Sault Ste. Marie, MI',
 'Twin Falls, ID',
 'Lansing, MI',
 'Adak Island, AK',
 'Garden City, KS',
 'White Plains, NY',
 'Colorado Springs, CO',
 'Bullhead City, AZ',
 'Johnstown, PA',
 'Rochester, MN',
 'Phoenix, AZ',
 'Lafayette, LA',
 'Rapid City, SD',
 'Erie, PA',
 'Texarkana, AR',
 'Watertown, SD',
 'Charleston/Dunbar, WV',
 'Richmond, VA',
 'Tallahassee, FL',
 'Long Beach, CA',
 'Flagstaff, AZ',
 'Lincoln, NE',
 'Rochester, NY',
 'Lubbock, TX',
 'Lake Charles, LA',
 'Spokane, WA',
 'Provo, UT',
 'Buffalo, NY',
 'Baltimore, MD',
 'Akron, OH',
 'Lihue, HI',
 'Durango, CO',
 'Hoolehua, HI',
 'Columbus, MS',
 'Hancock/Houghton, MI',
 'Saipan, TT',
 'Fayetteville, NC',
 'Williston, ND',
 'Del Rio, TX',
 'King Salmon, AK',
 'Trenton, NJ',
 'Casper, WY',
 'Hattiesburg/Laurel, MS',
 'Fort Dodge, IA',
 'Washington, DC',
 'Mobile, AL',
 'Monterey, CA',
 'Roswell, NM',
 'Aberdeen, SD',
 'Minot, ND',
 'Laredo, TX',
 'Jackson/Vicksburg, MS',
 'Newport News/Williamsburg, VA',
 'Escanaba, MI',
 'Charlotte, NC',
 'Pittsburgh, PA',
 'Hilo, HI',
 'Billings, MT',
 'Concord, NC',
 'Hagerstown, MD',
 'Bishop, CA',
 'Louisville, KY',
 'Burlington, VT',
 'Hibbing, MN',
 'Toledo, OH',
 'Worcester, MA',
 'Miami, FL',
 'Melbourne, FL',
 'Hayden, CO',
 'Pullman, WA',
 'Mammoth Lakes, CA',
 'Indianapolis, IN',
 'Columbia, SC',
 'Islip, NY',
 'San Francisco, CA',
 'Ontario, CA',
 'Oakland, CA',
 'Sarasota/Bradenton, FL',
 'Kapalua, HI',
 'Brainerd, MN',
 'Baton Rouge, LA',
 'Fort Myers, FL',
 'Green Bay, WI',
 'Ithaca/Cortland, NY',
 'Bend/Redmond, OR',
 'Rhinelander, WI',
 'Aguadilla, PR',
 'Rota, TT',
 'Elko, NV',
 'Punta Gorda, FL',
 "Martha's Vineyard, MA",
 'Branson, MO',
 'West Yellowstone, MT',
 'Cordova, AK',
 'Ketchikan, AK',
 'Abilene, TX',
 'Ogden, UT',
 'Des Moines, IA',
 'New Orleans, LA',
 'Sioux City, IA',
 'Providence, RI',
 'Kona, HI',
 'Idaho Falls, ID',
 'Greer, SC',
 'Fargo, ND',
 'Santa Fe, NM',
 'Dothan, AL',
 'Montrose/Delta, CO',
 'Gainesville, FL',
 'Jacksonville, FL',
 'San Jose, CA',
 'Albany, GA',
 'Vernal, UT',
 'Victoria, TX',
 'San Antonio, TX',
 'Jacksonville/Camp Lejeune, NC',
 'Riverton/Lander, WY',
 'Cleveland, OH',
 'Birmingham, AL',
 'Salt Lake City, UT',
 'Aspen, CO',
 'Mason City, IA',
 'Knoxville, TN',
 'Manhattan/Ft. Riley, KS',
 'St. Petersburg, FL',
 'Kearney, NE',
 'North Platte, NE',
 'Pierre, SD',
 'Springfield, MO',
 'Atlantic City, NJ',
 'Plattsburgh, NY',
 'Decatur, IL',
 'Helena, MT',
 'Pago Pago, TT',
 'Binghamton, NY',
 'La Crosse, WI',
 'Tyler, TX',
 'Stockton, CA',
 'Nashville, TN',
 'Fort Lauderdale, FL',
 'Walla Walla, WA',
 'Ashland, WV',
 'Appleton, WI',
 'Peoria, IL',
 'Cody, WY',
 'Kodiak, AK',
 'Belleville, IL',
 'Santa Maria, CA',
 'Lewisburg, WV',
 'Springfield, IL',
 'College Station/Bryan, TX',
 'Niagara Falls, NY',
 'Boston, MA',
 'Hartford, CT',
 'Jackson, WY',
 'Fresno, CA',
 'Sun Valley/Hailey/Ketchum, ID',
 'Pueblo, CO',
 'West Palm Beach/Palm Beach, FL',
 'Latrobe, PA',
 'Roanoke, VA',
 'Grand Island, NE',
 'Wrangell, AK']

In [22]:
# CRSDep Time, CRS(scheduled) Departure Time (local time: hhmm)

In [23]:
flight_vaex.CRSDepTime

Expression = CRSDepTime
Length: 30,132,672 dtype: int64 (column)
----------------------------------------
       0  1845
       1  1835
       2  1835
       3  1845
       4  1835
     ...
30132667  1234
30132668  1104
30132669  1249
30132670   751
30132671   635

In [24]:
#  Dep  Time, Actual Departure Time (local time: hhmm)

In [25]:
flight_vaex.DepTime

Expression = DepTime
Length: 30,132,672 dtype: float64 (column)
------------------------------------------
       0  1928
       1  1956
       2  1836
       3  1844
       4  1829
     ...
30132667  1230
30132668  1100
30132669  1247
30132670   739
30132671   624

In [26]:
# DepDelay (Difference in minutes between scheduled and actual departure time. Early departures show negative numbers.)

In [27]:
flight_vaex.DepDelay

Expression = DepDelay
Length: 30,132,672 dtype: float64 (column)
------------------------------------------
       0   43
       1   81
       2    1
       3   -1
       4   -6
     ...
30132667   -4
30132668   -4
30132669   -2
30132670  -12
30132671  -11

In [28]:
# DepDelayMinutes (Difference in minutes between scheduled and actual departure time. Early departures set to 0.)

In [29]:
flight_vaex.DepDelayMinutes

Expression = DepDelayMinutes
Length: 30,132,672 dtype: float64 (column)
------------------------------------------
       0  43
       1  81
       2   1
       3   0
       4   0
    ...
30132667   0
30132668   0
30132669   0
30132670   0
30132671   0

In [30]:
# Taxi out (Taxi Out Time refers to the duration an aircraft spends taxiing from the gate or terminal to the runway before taking off, in Minutes)

In [31]:
flight_vaex.TaxiOut

Expression = TaxiOut
Length: 30,132,672 dtype: float64 (column)
------------------------------------------
       0  35
       1  18
       2  19
       3  36
       4  22
    ...
30132667  19
30132668  18
30132669  17
30132670  14
30132671  11

In [32]:
# WheelsOff ("Wheels-Off Time" refers to the exact moment when an aircraft's wheels leave the ground during takeoff. (local time: hhmm))

In [33]:
flight_vaex.WheelsOff

Expression = WheelsOff
Length: 30,132,672 dtype: float64 (column)
------------------------------------------
       0  2003
       1  2014
       2  1855
       3  1920
       4  1851
     ...
30132667  1249
30132668  1118
30132669  1304
30132670   753
30132671   635

In [34]:
# WheelsOn ("Wheels-On Time" refers to the exact moment when an aircraft's wheels make contact with the runway during landing. (local time: hhmm))

In [35]:
flight_vaex.WheelsOn

Expression = WheelsOn
Length: 30,132,672 dtype: float64 (column)
------------------------------------------
       0  2145
       1  2202
       2  2048
       3  2052
       4  2020
     ...
30132667  1426
30132668  1340
30132669  1808
30132670  1017
30132671   836

In [36]:
# Taxi in (Taxi In Time is the duration an aircraft spends taxiing from the runway to the gate or terminal after landing, in Minutes)

In [37]:
flight_vaex.TaxiIn

Expression = TaxiIn
Length: 30,132,672 dtype: float64 (column)
------------------------------------------
       0   4
       1   5
       2   6
       3   6
       4   6
    ...
30132667   5
30132668   8
30132669  16
30132670  20
30132671   8

In [38]:
# CRSARRtime (CRS(scheduled) Arrival Time (local time: hhmm))

In [39]:
flight_vaex.CRSArrTime

Expression = CRSArrTime
Length: 30,132,672 dtype: int64 (column)
----------------------------------------
       0  2108
       1  2058
       2  2058
       3  2108
       4  2058
     ...
30132667  1452
30132668  1412
30132669  1829
30132670  1100
30132671   855

In [40]:
# ArrTime (Actual Arrival Time (local time: hhmm))

In [41]:
flight_vaex.ArrTime

Expression = ArrTime
Length: 30,132,672 dtype: float64 (column)
------------------------------------------
       0  2149
       1  2207
       2  2054
       3  2058
       4  2026
     ...
30132667  1431
30132668  1348
30132669  1824
30132670  1037
30132671   844

In [42]:
# ArrDelay (Difference in minutes between scheduled and actual arrival time. Early arrivals show negative numbers.)

In [43]:
flight_vaex.ArrDelay

Expression = ArrDelay
Length: 30,132,672 dtype: float64 (column)
------------------------------------------
       0   41
       1   69
       2   -4
       3  -10
       4  -32
     ...
30132667  -21
30132668  -24
30132669   -5
30132670  -23
30132671  -11

In [44]:
# ArrDelayMinutes (Difference in minutes between scheduled and actual arrival time. Early arrivals set to 0.)

In [45]:
flight_vaex.ArrDelayMinutes

Expression = ArrDelayMinutes
Length: 30,132,672 dtype: float64 (column)
------------------------------------------
       0  41
       1  69
       2   0
       3   0
       4   0
    ...
30132667   0
30132668   0
30132669   0
30132670   0
30132671   0

In [46]:
# CRSElapsedTime (CRS(scheduled) Elapsed Time of Flight, in Minutes)

In [47]:
flight_vaex.CRSElapsedTime

Expression = CRSElapsedTime
Length: 30,132,672 dtype: float64 (column)
------------------------------------------
       0  143
       1  143
       2  143
       3  143
       4  143
     ...
30132667  258
30132668  128
30132669  220
30132670  189
30132671  320

In [48]:
# Actual Elapsed time (Elapsed Time of Flight, in Minutes)

In [49]:
flight_vaex.ActualElapsedTime

Expression = ActualElapsedTime
Length: 30,132,672 dtype: float64 (column)
------------------------------------------
       0  141
       1  131
       2  138
       3  134
       4  117
     ...
30132667  241
30132668  108
30132669  217
30132670  178
30132671  320

In [50]:
# AirTime (Flight Time, in Minutes)

In [51]:
flight_vaex.AirTime

Expression = AirTime
Length: 30,132,672 dtype: float64 (column)
------------------------------------------
       0  102
       1  108
       2  113
       3   92
       4   89
     ...
30132667  217
30132668   82
30132669  184
30132670  144
30132671  301

In [52]:
# Distance (Distance between airports (miles))

In [53]:
flight_vaex.Distance

Expression = Distance
Length: 30,132,672 dtype: float64 (column)
------------------------------------------
       0   628
       1   628
       2   628
       3   628
       4   628
     ...
30132667  1635
30132668   678
30132669  1514
30132670  1085
30132671  2158

In [54]:
# DistanceGroup (Distance Intervals, every 250 Miles, for Flight Segment)

In [55]:
flight_vaex.DistanceGroup

Expression = DistanceGroup
Length: 30,132,672 dtype: int64 (column)
----------------------------------------
       0  3
       1  3
       2  3
       3  3
       4  3
    ...
30132667  7
30132668  3
30132669  7
30132670  5
30132671  9

In [56]:
# CarrierDelay (Carrier Delay, in Minutes)

In [57]:
flight_vaex.CarrierDelay

Expression = CarrierDelay
Length: 30,132,672 dtype: float64 (column)
------------------------------------------
       0  41
       1  67
       2   0
       3   0
       4   0
    ...
30132667   0
30132668   0
30132669   0
30132670   0
30132671   0

In [58]:
flight_vaex.CarrierDelay.unique()

[0.0,
 210.0,
 217.0,
 313.0,
 191.0,
 222.0,
 433.0,
 711.0,
 542.0,
 926.0,
 255.0,
 1100.0,
 703.0,
 565.0,
 877.0,
 536.0,
 766.0,
 1105.0,
 1202.0,
 1050.0,
 1199.0,
 1704.0,
 1494.0,
 1341.0,
 1856.0,
 2294.0,
 30.0,
 503.0,
 157.0,
 62.0,
 145.0,
 43.0,
 50.0,
 68.0,
 806.0,
 1179.0,
 1454.0,
 1009.0,
 1168.0,
 432.0,
 1221.0,
 678.0,
 1026.0,
 1204.0,
 2522.0,
 1468.0,
 2365.0,
 2059.0,
 6.0,
 914.0,
 461.0,
 473.0,
 343.0,
 245.0,
 566.0,
 1223.0,
 527.0,
 1205.0,
 755.0,
 1402.0,
 1230.0,
 1317.0,
 1383.0,
 1614.0,
 1701.0,
 2090.0,
 45.0,
 66.0,
 141.0,
 356.0,
 173.0,
 582.0,
 435.0,
 870.0,
 949.0,
 1353.0,
 1363.0,
 1521.0,
 1346.0,
 1792.0,
 1716.0,
 1527.0,
 2240.0,
 166.0,
 349.0,
 69.0,
 815.0,
 532.0,
 545.0,
 1022.0,
 890.0,
 1276.0,
 1403.0,
 1251.0,
 1233.0,
 1249.0,
 1702.0,
 1278.0,
 5324.0,
 2018.0,
 1142.0,
 75.0,
 358.0,
 645.0,
 200.0,
 271.0,
 1088.0,
 428.0,
 1145.0,
 496.0,
 635.0,
 921.0,
 860.0,
 1238.0,
 1117.0,
 1441.0,
 1498.0,
 1768.0,
 2308.0,
 1508.0,
 2545.0,
 49.0,
 38.0,
 345.0,
 114.0,
 380.0,
 247.0,
 190.0,
 1296.0,
 873.0,
 475.0,
 611.0,
 535.0,
 595.0,
 790.0,
 709.0,
 511.0,
 480.0,
 644.0,
 694.0,
 990.0,
 1453.0,
 1193.0,
 1360.0,
 1286.0,
 1326.0,
 1556.0,
 3864.0,
 1773.0,
 1625.0,
 1642.0,
 1745.0,
 346.0,
 1017.0,
 918.0,
 900.0,
 525.0,
 997.0,
 1303.0,
 1463.0,
 1137.0,
 1127.0,
 1185.0,
 1484.0,
 1653.0,
 2302.0,
 2934.0,
 1673.0,
 555.0,
 44.0,
 77.0,
 309.0,
 861.0,
 360.0,
 328.0,
 911.0,
 337.0,
 204.0,
 726.0,
 604.0,
 704.0,
 1190.0,
 1531.0,
 2066.0,
 587.0,
 792.0,
 813.0,
 1165.0,
 1216.0,
 1842.0,
 1285.0,
 1385.0,
 1767.0,
 1308.0,
 1424.0,
 1461.0,
 1610.0,
 2477.0,
 56.0,
 115.0,
 103.0,
 136.0,
 81.0,
 161.0,
 137.0,
 227.0,
 288.0,
 254.0,
 865.0,
 429.0,
 541.0,
 485.0,
 1065.0,
 586.0,
 1144.0,
 713.0,
 964.0,
 1078.0,
 771.0,
 1192.0,
 1318.0,
 1036.0,
 1224.0,
 1478.0,
 1789.0,
 1593.0,
 1543.0,
 2112.0,
 1530.0,
 1626.0,
 4218.0,
 10.0,
 84.0,
 27.0,
 622.0,
 1119.0,
 868.0,
 1131.0,
 405.0,
 1822.0,
 478.0,
 752.0,
 1279.0,
 1037.0,
 1059.0,
 1090.0,
 1313.0,
 1231.0,
 1161.0,
 1167.0,
 1674.0,
 1123.0,
 1798.0,
 2976.0,
 1364.0,
 1670.0,
 2647.0,
 123.0,
 154.0,
 122.0,
 299.0,
 403.0,
 437.0,
 1334.0,
 1020.0,
 1061.0,
 946.0,
 867.0,
 633.0,
 1222.0,
 1046.0,
 886.0,
 2973.0,
 1408.0,
 1523.0,
 1252.0,
 1098.0,
 1727.0,
 2903.0,
 1462.0,
 1504.0,
 189.0,
 162.0,
 237.0,
 361.0,
 438.0,
 756.0,
 721.0,
 1435.0,
 1369.0,
 1021.0,
 1241.0,
 1458.0,
 1333.0,
 1386.0,
 1707.0,
 1686.0,
 1786.0,
 1312.0,
 2011.0,
 2742.0,
 1923.0,
 2186.0,
 213.0,
 53.0,
 7.0,
 165.0,
 111.0,
 206.0,
 332.0,
 977.0,
 529.0,
 281.0,
 950.0,
 581.0,
 477.0,
 808.0,
 1129.0,
 825.0,
 947.0,
 1433.0,
 973.0,
 1756.0,
 1246.0,
 1910.0,
 1506.0,
 1541.0,
 2181.0,
 1731.0,
 1974.0,
 25.0,
 215.0,
 324.0,
 869.0,
 339.0,
 821.0,
 571.0,
 814.0,
 1445.0,
 1365.0,
 1467.0,
 1917.0,
 1709.0,
 1600.0,
 1554.0,
 2807.0,
 140.0,
 127.0,
 308.0,
 93.0,
 563.0,
 260.0,
 564.0,
 666.0,
 1291.0,
 1154.0,
 888.0,
 696.0,
 526.0,
 467.0,
 1048.0,
 1613.0,
 2221.0,
 1818.0,
 5.0,
 735.0,
 311.0,
 262.0,
 92.0,
 172.0,
 1093.0,
 231.0,
 319.0,
 397.0,
 621.0,
 899.0,
 692.0,
 684.0,
 1340.0,
 2007.0,
 995.0,
 1068.0,
 653.0,
 650.0,
 829.0,
 1489.0,
 920.0,
 1332.0,
 983.0,
 1479.0,
 1715.0,
 1465.0,
 1679.0,
 1637.0,
 1588.0,
 2916.0,
 57.0,
 85.0,
 593.0,
 257.0,
 803.0,
 445.0,
 557.0,
 904.0,
 468.0,
 691.0,
 1182.0,
 501.0,
 1417.0,
 1101.0,
 1414.0,
 1438.0,
 1615.0,
 1398.0,
 1455.0,
 1877.0,
 8.0,
 107.0,
 55.0,
 58.0,
 259.0,
 1253.0,
 118.0,
 239.0,
 298.0,
 782.0,
 576.0,
 1019.0,
 1218.0,
 1339.0,
 1384.0,
 1645.0,
 1262.0,
 1862.0,
 1853.0,
 116.0,
 74.0,
 135.0,
 371.0,
 376.0,
 799.0,
 915.0,
 1124.0,
 1781.0,
 1475.0,
 1045.0,
 1320.0,
 1323.0,
 1379.0,
 1570.0,
 1294.0,
 1481.0,
 2457.0,
 2416.0,
 1493.0,
 1472.0,
 418.0,
 372.0,
 153.0,
 175.0,
 83.0,
 283.0,
 660.0,
 958.0,
 835.0,
 646.0,
 784.0,
 667.0,
 864.0,
 506.0,
 1483.0,
 1697.0,
 1170.0,
 1152.0,
 1110.0,
 1928.0,
 1292.0,
 1646.0,
 1746.0,
 1710.0,
 2013.0,
 1886.0,
 2.0,
 36.0,
 72.0,
 40.0,
 46.0,
 194.0,
 286.0,
 907.0,
 441.0,
 843.0,
 575.0,
 502.0,
 1067.0,
 853.0,
 923.0,
 959.0,
 1344.0,
 1239.0,
 1099.0,
 1388.0,
 1456.0,
 2560.0,
 1284.0,
 2423.0,
 1569.0,
 1540.0,
 1713.0,
 188.0,
 730.0,
 287.0,
 558.0,
 982.0,
 410.0,
 643.0,
 1115.0,
 1327.0,
 670.0,
 981.0,
 1428.0,
 2791.0,
 1736.0,
 1534.0,
 1883.0,
 1737.0,
 88.0,
 52.0,
 292.0,
 180.0,
 178.0,
 252.0,
 507.0,
 1416.0,
 993.0,
 677.0,
 787.0,
 1069.0,
 893.0,
 1389.0,
 1194.0,
 1208.0,
 1741.0,
 1446.0,
 82.0,
 150.0,
 134.0,
 284.0,
 265.0,
 296.0,
 340.0,
 606.0,
 610.0,
 1171.0,
 802.0,
 712.0,
 723.0,
 1434.0,
 530.0,
 1039.0,
 1503.0,
 1255.0,
 1148.0,
 1444.0,
 1585.0,
 1553.0,
 1277.0,
 1307.0,
 1272.0,
 39.0,
 60.0,
 833.0,
 882.0,
 917.0,
 444.0,
 800.0,
 629.0,
 1109.0,
 1391.0,
 1587.0,
 2489.0,
 1598.0,
 1517.0,
 2687.0,
 1.0,
 892.0,
 392.0,
 307.0,
 209.0,
 335.0,
 474.0,
 1259.0,
 442.0,
 488.0,
 651.0,
 941.0,
 434.0,
 687.0,
 924.0,
 1003.0,
 979.0,
 801.0,
 966.0,
 1108.0,
 827.0,
 1514.0,
 1162.0,
 1671.0,
 1034.0,
 1174.0,
 1937.0,
 1343.0,
 1762.0,
 3246.0,
 301.0,
 251.0,
 91.0,
 584.0,
 312.0,
 685.0,
 641.0,
 412.0,
 364.0,
 776.0,
 1132.0,
 642.0,
 697.0,
 647.0,
 1265.0,
 1409.0,
 1359.0,
 1621.0,
 80.0,
 932.0,
 177.0,
 146.0,
 384.0,
 1280.0,
 1197.0,
 269.0,
 672.0,
 846.0,
 698.0,
 916.0,
 1138.0,
 1106.0,
 1227.0,
 1557.0,
 1450.0,
 2067.0,
 2991.0,
 1658.0,
 21.0,
 101.0,
 354.0,
 293.0,
 841.0,
 466.0,
 375.0,
 816.0,
 676.0,
 551.0,
 809.0,
 695.0,
 747.0,
 1387.0,
 1571.0,
 1186.0,
 1558.0,
 1567.0,
 1156.0,
 1536.0,
 1301.0,
 1623.0,
 1542.0,
 2977.0,
 244.0,
 131.0,
 431.0,
 789.0,
 1228.0,
 396.0,
 547.0,
 649.0,
 952.0,
 1040.0,
 618.0,
 668.0,
 906.0,
 1052.0,
 985.0,
 1191.0,
 1309.0,
 1306.0,
 1661.0,
 1509.0,
 1797.0,
 2100.0,
 2054.0,
 1685.0,
 22.0,
 59.0,
 104.0,
 246.0,
 241.0,
 866.0,
 1752.0,
 699.0,
 378.0,
 367.0,
 550.0,
 999.0,
 1002.0,
 905.0,
 1806.0,
 1675.0,
 1873.0,
 1830.0,
 108.0,
 839.0,
 261.0,
 238.0,
 344.0,
 297.0,
 795.0,
 482.0,
 1151.0,
 908.0,
 944.0,
 778.0,
 753.0,
 884.0,
 1290.0,
 1066.0,
 1742.0,
 1628.0,
 1528.0,
 1535.0,
 2677.0,
 876.0,
 89.0,
 304.0,
 598.0,
 279.0,
 476.0,
 812.0,
 1128.0,
 394.0,
 773.0,
 948.0,
 896.0,
 931.0,
 509.0,
 725.0,
 1368.0,
 1358.0,
 1175.0,
 1507.0,
 1688.0,
 1616.0,
 1808.0,
 1766.0,
 1821.0,
 1809.0,
 71.0,
 119.0,
 793.0,
 856.0,
 174.0,
 125.0,
 718.0,
 270.0,
 912.0,
 242.0,
 544.0,
 1118.0,
 379.0,
 819.0,
 583.0,
 1042.0,
 807.0,
 1189.0,
 1087.0,
 1183.0,
 1201.0,
 1443.0,
 1823.0,
 2039.0,
 1672.0,
 389.0,
 1157.0,
 282.0,
 1420.0,
 470.0,
 1004.0,
 741.0,
 1258.0,
 679.0,
 1122.0,
 1150.0,
 1155.0,
 2671.0,
 1896.0,
 1520.0,
 834.0,
 120.0,
 179.0,
 197.0,
 760.0,
 377.0,
 446.0,
 652.0,
 1012.0,
 556.0,
 1080.0,
 1861.0,
 1314.0,
 1471.0,
 1495.0,
 2107.0,
 2341.0,
 100.0,
 443.0,
 250.0,
 848.0,
 1206.0,
 855.0,
 602.0,
 940.0,
 828.0,
 614.0,
 567.0,
 1136.0,
 1578.0,
 1325.0,
 1126.0,
 1449.0,
 2592.0,
 1288.0,
 1260.0,
 1934.0,
 1754.0,
 1918.0,
 1545.0,
 151.0,
 330.0,
 233.0,
 400.0,
 673.0,
 769.0,
 452.0,
 758.0,
 1198.0,
 1200.0,
 745.0,
 1250.0,
 1149.0,
 764.0,
 1546.0,
 1311.0,
 1302.0,
 1968.0,
 1836.0,
 1348.0,
 2705.0,
 12.0,
 112.0,
 729.0,
 385.0,
 401.0,
 823.0,
 413.0,
 989.0,
 459.0,
 534.0,
 804.0,
 746.0,
 1146.0,
 733.0,
 967.0,
 1271.0,
 1352.0,
 1349.0,
 1374.0,
 14.0,
 102.0,
 11.0,
 183.0,
 514.0,
 1035.0,
 560.0,
 524.0,
 707.0,
 1120.0,
 479.0,
 1304.0,
 1056.0,
 1254.0,
 1561.0,
 1027.0,
 1013.0,
 1595.0,
 2106.0,
 1730.0,
 1775.0,
 1413.0,
 2619.0,
 1729.0,
 158.0,
 149.0,
 302.0,
 234.0,
 1140.0,
 322.0,
 705.0,
 447.0,
 574.0,
 862.0,
 1121.0,
 1266.0,
 850.0,
 1163.0,
 1518.0,
 1440.0,
 1184.0,
 1351.0,
 1566.0,
 1596.0,
 1188.0,
 1269.0,
 1632.0,
 1371.0,
 1606.0,
 2216.0,
 898.0,
 211.0,
 273.0,
 163.0,
 305.0,
 159.0,
 654.0,
 539.0,
 871.0,
 1431.0,
 601.0,
 887.0,
 961.0,
 849.0,
 1780.0,
 1355.0,
 1855.0,
 1996.0,
 1787.0,
 42.0,
 902.0,
 182.0,
 1038.0,
 142.0,
 320.0,
 243.0,
 208.0,
 368.0,
 664.0,
 481.0,
 538.0,
 625.0,
 675.0,
 634.0,
 794.0,
 1519.0,
 495.0,
 1166.0,
 1055.0,
 450.0,
 863.0,
 1342.0,
 1225.0,
 1421.0,
 2173.0,
 2398.0,
 2166.0,
 1602.0,
 105.0,
 9.0,
 37.0,
 929.0,
 1060.0,
 229.0,
 1064.0,
 362.0,
 838.0,
 968.0,
 960.0,
 1023.0,
 987.0,
 1011.0,
 1073.0,
 1244.0,
 1008.0,
 1500.0,
 ...]

In [59]:
flight_vaex.CarrierDelay.value_counts()

0.0       26679478
1.0         111661
2.0         110619
3.0         107441
6.0         104246
            ...
2238.0           1
2109.0           1
1766.0           1
1555.0           1
2140.0           1
Length: 1884, dtype: int64

In [60]:
(26679478/30132671)*100

88.54003682580944

In [61]:
# vaex.expr.pearsonr(flight_vaex['CarrierDelay'],flight_vaex['DepDelay'])
# flight_vaex[['CarrierDelay','DepDelay']].stat.correlation()

flight_vaex.correlation('CarrierDelay','DepDelay')

array(0.69709477)

In [62]:
# Weather Delay (	Weather Delay, in Minutes)

In [63]:
flight_vaex.WeatherDelay

Expression = WeatherDelay
Length: 30,132,672 dtype: float64 (column)
------------------------------------------
       0  0
       1  0
       2  0
       3  0
       4  0
    ...
30132667  0
30132668  0
30132669  0
30132670  0
30132671  0

In [64]:
len(flight_vaex.WeatherDelay.unique())

1379

In [65]:
flight_vaex.WeatherDelay.value_counts()

0.0       29746720
15.0          8181
1.0           7978
2.0           7913
6.0           7865
            ...
1470.0           1
1301.0           1
1519.0           1
1373.0           1
1847.0           1
Length: 1379, dtype: int64

In [66]:
(29746720/30132671)*100

98.71916100633761

In [67]:
flight_vaex.correlation('WeatherDelay','DepDelay')

array(0.30413114)

WeatherDelay has 98.7 perc value 0, drop it

In [68]:
# NAS Delay (National Air System Delay, in Minutes)

In [69]:
flight_vaex.NASDelay

Expression = NASDelay
Length: 30,132,672 dtype: float64 (column)
------------------------------------------
       0  0
       1  0
       2  0
       3  0
       4  0
    ...
30132667  0
30132668  0
30132669  0
30132670  0
30132671  0

In [70]:
len(flight_vaex.NASDelay.unique())

1300

In [71]:
flight_vaex.NASDelay.value_counts()

0.0       26882919
1.0         147052
15.0        132741
16.0        120433
2.0         119700
            ...
882.0            1
1419.0           1
1145.0           1
1277.0           1
1711.0           1
Length: 1300, dtype: int64

In [72]:
(26882919/30132671)*100

89.21518772763291

In [73]:
flight_vaex.correlation('NASDelay','DepDelay')

array(0.28571692)

In [74]:
# Security Delay

In [75]:
flight_vaex.SecurityDelay

Expression = SecurityDelay
Length: 30,132,672 dtype: float64 (column)
------------------------------------------
       0  0
       1  0
       2  0
       3  0
       4  0
    ...
30132667  0
30132668  0
30132669  0
30132670  0
30132671  0

In [76]:
len(flight_vaex.SecurityDelay.unique())

348

In [77]:
flight_vaex.SecurityDelay.value_counts()

0.0      30103548
15.0         1179
16.0         1047
18.0          945
17.0          936
           ...
369.0           1
204.0           1
398.0           1
550.0           1
308.0           1
Length: 348, dtype: int64

In [78]:
(30103548/30132671)*100

99.90335075174717

In [79]:
flight_vaex.correlation('SecurityDelay','DepDelay')

array(0.03542479)

SecurityDelay Column has 99.9 perc value 0, can drop this column

In [80]:
# LateAircraftDelay

In [81]:
flight_vaex.LateAircraftDelay

Expression = LateAircraftDelay
Length: 30,132,672 dtype: float64 (column)
------------------------------------------
       0  0
       1  2
       2  0
       3  0
       4  0
    ...
30132667  0
30132668  0
30132669  0
30132670  0
30132671  0

In [82]:
len(flight_vaex.LateAircraftDelay.unique())

1519

In [83]:
flight_vaex.LateAircraftDelay.value_counts()

0.0       26977089
15.0         75493
16.0         71538
17.0         67883
18.0         65207
            ...
1434.0           1
1539.0           1
1432.0           1
1041.0           1
1330.0           1
Length: 1519, dtype: int64

In [84]:
(26977089/30132671)*100

89.52770565875159

In [85]:
flight_vaex.correlation('LateAircraftDelay','DepDelay')

array(0.60874058)

Droping cols Year, Month, DayofMonth,SecurityDelay,NASDelay,WeatherDelay

In [86]:
flight_vaex = flight_vaex.drop(columns=['Year','Month','DayofMonth','SecurityDelay','NASDelay','WeatherDelay'])

In [87]:
flight_vaex['FlightDate'] = flight_vaex['FlightDate'].astype('datetime64')

In [88]:
flight_vaex['Was Weekend']=  flight_vaex['FlightDate'].dt.dayofweek.isin([5,6])

In [89]:
flight_vaex.head()

  #  FlightDate           Marketing_Airline_Network    OriginCityName    DestCityName      CRSDepTime    DepTime    DepDelay    DepDelayMinutes    TaxiOut    WheelsOff    WheelsOn    TaxiIn    CRSArrTime    ArrTime    ArrDelay    ArrDelayMinutes    CRSElapsedTime    ActualElapsedTime    AirTime    Distance    DistanceGroup    CarrierDelay    LateAircraftDelay  Was Weekend
  0  2018-01-15 00:00:00  UA                           Newark, NJ        Charleston, SC          1845       1928          43                 43         35         2003        2145         4          2108       2149          41                 41               143                  141        102         628                3              41                    0  False
  1  2018-01-16 00:00:00  UA                           Newark, NJ        Charleston, SC          1835       1956          81                 81         18         2014        2202         5          2058       2207          69                 69               143                  131        108         628                3              67                    2  False
  2  2018-01-17 00:00:00  UA                           Newark, NJ        Charleston, SC          1835       1836           1                  1         19         1855        2048         6          2058       2054          -4                  0               143                  138        113         628                3               0                    0  False
  3  2018-01-18 00:00:00  UA                           Newark, NJ        Charleston, SC          1845       1844          -1                  0         36         1920        2052         6          2108       2058         -10                  0               143                  134         92         628                3               0                    0  False
  4  2018-01-20 00:00:00  UA                           Newark, NJ        Charleston, SC          1835       1829          -6                  0         22         1851        2020         6          2058       2026         -32                  0               143                  117         89         628                3               0                    0  True
  5  2018-01-21 00:00:00  UA                           Newark, NJ        Charleston, SC          1835       1825         -10                  0         44         1909        2039         5          2058       2044         -14                  0               143                  139         90         628                3               0                    0  True
  6  2018-01-22 00:00:00  UA                           Newark, NJ        Charleston, SC          1845       1847           2                  2         41         1928        2118        10          2108       2128          20                 20               143                  161        110         628                3               2                    0  False
  7  2018-01-23 00:00:00  UA                           Newark, NJ        Charleston, SC          1835       1823         -12                  0         34         1857        2103        11          2058       2114          16                 16               143                  171        126         628                3               0                    0  False
  8  2018-01-25 00:00:00  UA                           Newark, NJ        Charleston, SC          1845       1841          -4                  0         38         1919        2056         7          2108       2103          -5                  0               143                  142         97         628                3               0                    0  False
  9  2018-01-26 00:00:00  UA                           Newark, NJ        Charleston, SC          1845       1838          -7                  0         39         1917        2047         6          2108       2053         -15                  0               143                  135         90         628                3               0                    0  False

Note CRS ELapsed time = CRSDep Time - CRSArr Time
,same in case for actual

In [90]:
def airline_abbreviation_to_name(x): 
    airline_abb = {
        "UA" : "United Airlines",
        "DL" : "Delta Airlines",
        "F9" : "Frontier Airlines",
        "NK" : "Spirit Airlines",
        "AA" : "American Airlines",
        "WN" : "Southwest Airlines",
        "AS" : "Alaska Airlines",
        "HA" : "Hawaiian Airlines",
        "VX" : "Virgin America",
        "B6" : "JetBlue Airways",
        "G4" : "Allegiant Air",    
    }
    for key, value in airline_abb.items():
        if x == key:
            x = value
    return x

flight_vaex["Airline"] = flight_vaex["Marketing_Airline_Network"].apply(airline_abbreviation_to_name)

In [91]:
flight_vaex = flight_vaex.drop(columns=['Marketing_Airline_Network'])

In [92]:
flight_vaex.head()

  #  FlightDate           OriginCityName    DestCityName      CRSDepTime    DepTime    DepDelay    DepDelayMinutes    TaxiOut    WheelsOff    WheelsOn    TaxiIn    CRSArrTime    ArrTime    ArrDelay    ArrDelayMinutes    CRSElapsedTime    ActualElapsedTime    AirTime    Distance    DistanceGroup    CarrierDelay    LateAircraftDelay  Was Weekend    Airline
  0  2018-01-15 00:00:00  Newark, NJ        Charleston, SC          1845       1928          43                 43         35         2003        2145         4          2108       2149          41                 41               143                  141        102         628                3              41                    0  False          United Airlines
  1  2018-01-16 00:00:00  Newark, NJ        Charleston, SC          1835       1956          81                 81         18         2014        2202         5          2058       2207          69                 69               143                  131        108         628                3              67                    2  False          United Airlines
  2  2018-01-17 00:00:00  Newark, NJ        Charleston, SC          1835       1836           1                  1         19         1855        2048         6          2058       2054          -4                  0               143                  138        113         628                3               0                    0  False          United Airlines
  3  2018-01-18 00:00:00  Newark, NJ        Charleston, SC          1845       1844          -1                  0         36         1920        2052         6          2108       2058         -10                  0               143                  134         92         628                3               0                    0  False          United Airlines
  4  2018-01-20 00:00:00  Newark, NJ        Charleston, SC          1835       1829          -6                  0         22         1851        2020         6          2058       2026         -32                  0               143                  117         89         628                3               0                    0  True           United Airlines
  5  2018-01-21 00:00:00  Newark, NJ        Charleston, SC          1835       1825         -10                  0         44         1909        2039         5          2058       2044         -14                  0               143                  139         90         628                3               0                    0  True           United Airlines
  6  2018-01-22 00:00:00  Newark, NJ        Charleston, SC          1845       1847           2                  2         41         1928        2118        10          2108       2128          20                 20               143                  161        110         628                3               2                    0  False          United Airlines
  7  2018-01-23 00:00:00  Newark, NJ        Charleston, SC          1835       1823         -12                  0         34         1857        2103        11          2058       2114          16                 16               143                  171        126         628                3               0                    0  False          United Airlines
  8  2018-01-25 00:00:00  Newark, NJ        Charleston, SC          1845       1841          -4                  0         38         1919        2056         7          2108       2103          -5                  0               143                  142         97         628                3               0                    0  False          United Airlines
  9  2018-01-26 00:00:00  Newark, NJ        Charleston, SC          1845       1838          -7                  0         39         1917        2047         6          2108       2053         -15                  0               143                  135         90         628                3               0                    0  False          United Airlines

In [93]:
# From FLightDate Column 
# new col "year", "DayOfWeek","DayOfMonth" ,"Month"

In [94]:
flight_vaex['Year']=flight_vaex['FlightDate'].dt.year
flight_vaex['DayOfWeek']=flight_vaex['FlightDate'].dt.dayofweek
flight_vaex['Month']=flight_vaex['FlightDate'].dt.month
flight_vaex['DayOfMonth']=flight_vaex['FlightDate'].dt.day

In [95]:
flight_vaex.head()

  #  FlightDate           OriginCityName    DestCityName      CRSDepTime    DepTime    DepDelay    DepDelayMinutes    TaxiOut    WheelsOff    WheelsOn    TaxiIn    CRSArrTime    ArrTime    ArrDelay    ArrDelayMinutes    CRSElapsedTime    ActualElapsedTime    AirTime    Distance    DistanceGroup    CarrierDelay    LateAircraftDelay  Was Weekend    Airline            Year    DayOfWeek    Month    DayOfMonth
  0  2018-01-15 00:00:00  Newark, NJ        Charleston, SC          1845       1928          43                 43         35         2003        2145         4          2108       2149          41                 41               143                  141        102         628                3              41                    0  False          United Airlines    2018            0        1            15
  1  2018-01-16 00:00:00  Newark, NJ        Charleston, SC          1835       1956          81                 81         18         2014        2202         5          2058       2207          69                 69               143                  131        108         628                3              67                    2  False          United Airlines    2018            1        1            16
  2  2018-01-17 00:00:00  Newark, NJ        Charleston, SC          1835       1836           1                  1         19         1855        2048         6          2058       2054          -4                  0               143                  138        113         628                3               0                    0  False          United Airlines    2018            2        1            17
  3  2018-01-18 00:00:00  Newark, NJ        Charleston, SC          1845       1844          -1                  0         36         1920        2052         6          2108       2058         -10                  0               143                  134         92         628                3               0                    0  False          United Airlines    2018            3        1            18
  4  2018-01-20 00:00:00  Newark, NJ        Charleston, SC          1835       1829          -6                  0         22         1851        2020         6          2058       2026         -32                  0               143                  117         89         628                3               0                    0  True           United Airlines    2018            5        1            20
  5  2018-01-21 00:00:00  Newark, NJ        Charleston, SC          1835       1825         -10                  0         44         1909        2039         5          2058       2044         -14                  0               143                  139         90         628                3               0                    0  True           United Airlines    2018            6        1            21
  6  2018-01-22 00:00:00  Newark, NJ        Charleston, SC          1845       1847           2                  2         41         1928        2118        10          2108       2128          20                 20               143                  161        110         628                3               2                    0  False          United Airlines    2018            0        1            22
  7  2018-01-23 00:00:00  Newark, NJ        Charleston, SC          1835       1823         -12                  0         34         1857        2103        11          2058       2114          16                 16               143                  171        126         628                3               0                    0  False          United Airlines    2018            1        1            23
  8  2018-01-25 00:00:00  Newark, NJ        Charleston, SC          1845       1841          -4                  0         38         1919        2056         7          2108       2103          -5                  0               143                  142         97         628                3               0                    0  False          United Airlines    2018            3        1            25
  9  2018-01-26 00:00:00  Newark, NJ        Charleston, SC          1845       1838          -7                  0         39         1917        2047         6          2108       2053         -15                  0               143                  135         90         628                3               0                    0  False          United Airlines    2018            4        1            26

In [96]:
flight_vaex.correlation('TaxiOut', 'DepDelay')

array(0.07888809)

In [97]:
flight_vaex.correlation('TaxiIn','DepDelay')

array(0.03074851)

In [98]:
flight_vaex.correlation('TaxiOut', 'ArrDelay')

array(0.21716151)

In [99]:
flight_vaex.correlation('TaxiIn', 'ArrDelay')

array(0.11426912)

In [100]:
# Droping Taxiout, TaxiIn, DepDelayMinutes,ArrDelayMinutes,DistanceGroup, CarrierDelay, LateAircraftDelay,WheelsOn, WheelsOff,DepTime,ArrTime

In [101]:
flight_vaex = flight_vaex.drop(columns=['TaxiOut','TaxiIn','DepDelayMinutes','ArrDelayMinutes','DistanceGroup','CarrierDelay','LateAircraftDelay','WheelsOn','WheelsOff','DepTime','ArrTime', 'ActualElapsedTime'])

In [102]:
flight_vaex.column_names

['FlightDate',
 '__FlightDate',
 '__Marketing_Airline_Network',
 'OriginCityName',
 'DestCityName',
 'CRSDepTime',
 'DepDelay',
 'CRSArrTime',
 'ArrDelay',
 'CRSElapsedTime',
 'ActualElapsedTime',
 'AirTime',
 'Distance',
 'Was Weekend',
 'Airline',
 'Year',
 'DayOfWeek',
 'Month',
 'DayOfMonth']

In [103]:
flight_vaex.head(1)

  #  FlightDate           OriginCityName    DestCityName      CRSDepTime    DepDelay    CRSArrTime    ArrDelay    CRSElapsedTime    ActualElapsedTime    AirTime    Distance  Was Weekend    Airline            Year    DayOfWeek    Month    DayOfMonth
  0  2018-01-15 00:00:00  Newark, NJ        Charleston, SC          1845          43          2108          41               143                  141        102         628  False          United Airlines    2018            0        1            15

In [114]:
flight_vaex = flight_vaex.drop(columns=['AirTime'])

In [136]:
from vaex.ml import OneHotEncoder

In [151]:
le = vaex.ml.LabelEncoder()

In [154]:
flight_vaex['Weekend?'] = le.fit_transform(flight_vaex['Was Weekend'])

In [155]:
flight_vaex.head()

  #  FlightDate           OriginCityName              DestCityName       CRSDepTime    DepDelay    CRSArrTime    ArrDelay    CRSElapsedTime    Distance  Was Weekend    Airline              Year    DayOfWeek    Month    DayOfMonth  Weekend?
  0  2021-11-01 00:00:00  Chicago, IL                 Columbia, MO             1930          71          2101          62                91         315  False          American Airlines    2021            0       11             1  False
  1  2021-01-25 00:00:00  Detroit, MI                 Charlotte, NC            1714         -14          1908          -3               114         500  False          American Airlines    2021            0        1            25  False
  2  2022-01-09 00:00:00  Detroit, MI                 Atlanta, GA              2105           2          2318          -9               133         594  True           Delta Airlines       2022            6        1             9  True
  3  2020-03-22 00:00:00  Atlanta, GA                 Baton Rouge, LA          1643          -8          1724         -19               101         448  True           Delta Airlines       2020            6        3            22  True
  4  2019-08-05 00:00:00  Seattle, WA                 Detroit, MI              1153          11          1914          18               261        1927  False          Delta Airlines       2019            0        8             5  False
  5  2019-02-09 00:00:00  Cedar Rapids/Iowa City, IA  Denver, CO                600           0           717          28               137         692  True           United Airlines      2019            5        2             9  True
  6  2023-03-08 00:00:00  Atlanta, GA                 Wilmington, NC            902          -3          1028         -19                86         377  False          Delta Airlines       2023            2        3             8  False
  7  2018-12-01 00:00:00  Albany, NY                  Newark, NJ                820         170           934         175                74         143  True           United Airlines      2018            5       12             1  True
  8  2022-10-07 00:00:00  Houston, TX                 New York, NY             1430          -2          1913         -28               223        1416  False          United Airlines      2022            4       10             7  False
  9  2019-03-23 00:00:00  Fort Lauderdale, FL         Los Angeles, CA          2055          -5          2355          -7               360        2343  True           Spirit Airlines      2019            5        3            23  True

In [137]:
flight_vaex = flight_vaex.shuffle()
df_train, df_test = flight_vaex.ml.train_test_split(test_size=0.2)

C:\Users\HP\Desktop\Programming\Projects\Project 4- Flight\flight\lib\site-packages\vaex\ml\__init__.py:28: UserWarning: Make sure the DataFrame is shuffled
  warnings.warn('Make sure the DataFrame is shuffled')

In [138]:
encoder=vaex.ml.OneHotEncoder()

In [149]:
df_train['Airline'] = encoder.fit_transform(df_train['Airline'])

In [150]:
df_train.head()

  #  FlightDate           OriginCityName      DestCityName        CRSDepTime    DepDelay    CRSArrTime    ArrDelay    CRSElapsedTime    Distance  Was Weekend    Airline               Year    DayOfWeek    Month    DayOfMonth
  0  2019-03-26 00:00:00  Washington, DC      Atlanta, GA                600          -7           754         -25               114         547  False          Delta Airlines        2019            1        3            26
  1  2018-02-16 00:00:00  Indianapolis, IN    New York, NY              1147          35          1348          36               121         660  False          Delta Airlines        2018            4        2            16
  2  2022-03-20 00:00:00  Orlando, FL         Austin, TX                 710          -4           910         -15               180         994  True           Southwest Airlines    2022            6        3            20
  3  2021-07-04 00:00:00  San Jose, CA        Phoenix, AZ               1930           2          2120          -8               110         621  True           Southwest Airlines    2021            6        7             4
  4  2021-12-24 00:00:00  Chicago, IL         Charlotte, NC             1425          -2          1715         -23               110         584  False          Southwest Airlines    2021            4       12            24
  5  2018-07-14 00:00:00  Chicago, IL         Los Angeles, CA           1944          66          2211          29               267        1744  True           United Airlines       2018            5        7            14
  6  2022-05-23 00:00:00  Phoenix, AZ         Austin, TX                1000           2          1415          -5               135         872  False          Southwest Airlines    2022            0        5            23
  7  2023-03-02 00:00:00  Atlanta, GA         Baltimore, MD             2230          -1            10          -9               100         577  False          Southwest Airlines    2023            3        3             2
  8  2018-12-16 00:00:00  Atlanta, GA         Myrtle Beach, SC           941          -3          1048          -5                67         317  True           Delta Airlines        2018            6       12            16
  9  2018-02-07 00:00:00  Raleigh/Durham, NC  Newark, NJ                1730          79          1921          54               111         416  False          United Airlines       2018            2        2             7

In [141]:
df_test = encoder.transform(df_test)

In [144]:
df_train.head()

  #  FlightDate           OriginCityName      DestCityName        CRSDepTime    DepDelay    CRSArrTime    ArrDelay    CRSElapsedTime    Distance  Was Weekend    Airline               Year    DayOfWeek    Month    DayOfMonth
  0  2019-03-26 00:00:00  Washington, DC      Atlanta, GA                600          -7           754         -25               114         547  False          Delta Airlines        2019            1        3            26
  1  2018-02-16 00:00:00  Indianapolis, IN    New York, NY              1147          35          1348          36               121         660  False          Delta Airlines        2018            4        2            16
  2  2022-03-20 00:00:00  Orlando, FL         Austin, TX                 710          -4           910         -15               180         994  True           Southwest Airlines    2022            6        3            20
  3  2021-07-04 00:00:00  San Jose, CA        Phoenix, AZ               1930           2          2120          -8               110         621  True           Southwest Airlines    2021            6        7             4
  4  2021-12-24 00:00:00  Chicago, IL         Charlotte, NC             1425          -2          1715         -23               110         584  False          Southwest Airlines    2021            4       12            24
  5  2018-07-14 00:00:00  Chicago, IL         Los Angeles, CA           1944          66          2211          29               267        1744  True           United Airlines       2018            5        7            14
  6  2022-05-23 00:00:00  Phoenix, AZ         Austin, TX                1000           2          1415          -5               135         872  False          Southwest Airlines    2022            0        5            23
  7  2023-03-02 00:00:00  Atlanta, GA         Baltimore, MD             2230          -1            10          -9               100         577  False          Southwest Airlines    2023            3        3             2
  8  2018-12-16 00:00:00  Atlanta, GA         Myrtle Beach, SC           941          -3          1048          -5                67         317  True           Delta Airlines        2018            6       12            16
  9  2018-02-07 00:00:00  Raleigh/Durham, NC  Newark, NJ                1730          79          1921          54               111         416  False          United Airlines       2018            2        2             7

In [116]:
df_train.shape

(24106138, 15)

In [117]:
df_test.shape

(6026534, 15)

In [131]:
from vaex.ml.sklearn import IncrementalPredictor
# from sklearn.multioutput import MultiOutputRegressor
from sklearn.linear_model import SGDRegressor

In [130]:
features = ['OriginCityName', 'DestCityName', 'CRSDepTime', 'CRSArrTime', 'CRSElapsedTime','Distance', 'Was Weekend', 'Airline', 'Year', 'DayOfWeek', 'Month', 'DayOfMonth']
target = 'DepDelay'

In [132]:
model = SGDRegressor()

vaex_model = IncrementalPredictor(features=features, target=target,model=model, batch_size=500000)

In [ ]:
vaex_model.fit(df=df_train,progress='widget')